/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COMMON*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-base,
header .container .btn-base {
  border-style: none;
  border-radius: 10px;
  padding: 10px 15px;
  background: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*HEADER*/

header {
  height: 75px;
  color: #58402c;
}

header .container {
  height: 100%;
  border-bottom: 1px solid #58402c;
}

header .container .btn-base {
  float: right;
}

/*LOGO*/

#logo {
  float: left;
}

#logo h4 {
  line-height: 75px;
}

/*NAVBAR*/

nav {
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li a {
  line-height: 75px;
}

/*MAIN*/

/*FOOTER*/

