/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COMMON*/

body {
  font-family: "Lato", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-base,
header .container .upper-header .btn-container .btn-base {
  border: 1px solid #30488f;
  border-radius: 5px;
  padding: 8px 15px;
  background: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s;
}

.btn-base i,
header .container .upper-header .btn-container .btn-base i {
  font-size: 1.2em;
  margin-right: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-pink {
  background: #ffe7d2;
  color: #58402c;
  padding: 50px 0;
}

.section-white {
  background: #ffffff;
  color: #58402c;
  padding: 50px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
}

/*HEADER*/

header {
  min-height: 100vh;
  color: #58402c;
}

header .container {
  height: 100%;
}

header .container .upper-header {
  height: 75px;
  border-bottom: 1px solid #58402c;
}

header .container .upper-header .btn-container {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container .upper-header .btn-container .btn-base {
  color: #30488f;
}

header .container .upper-header .btn-container .btn-base:hover {
  background: #30488f;
  color: #ffffff;
}

/*LOGO*/

#logo {
  float: left;
}

#logo h4 {
  line-height: 75px;
  font-size: 25px;
  font-weight: 400;
}

/*NAVBAR*/

nav {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li a {
  line-height: 75px;
}

/*BANNER*/

.banner {
  height: calc(100vh - 75px);
  padding: 80px 0;
}

.banner .left {
  width: 50%;
  height: 100%;
  float: left;
  padding-right: 80px;
}

.banner .left h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.banner .left p {
  font-size: 20px;
  margin-bottom: 50px;
}

.banner .left .cta {
  width: 100%;
  margin-bottom: 20px;
}

.banner .left .cta button {
  float: left;
  background: #30488f;
  color: #ffffff;
}

.banner .left .cta button:hover {
  background: #233569;
}

.banner .left .cta p {
  float: left;
  font-size: 12px;
  margin: 0 20px;
  line-height: 35px;
}

.banner .left a i {
  font-size: 12px;
}

.banner .right {
  width: 50%;
  height: 100%;
  float: right;
}

.banner .right img {
  width: 600px;
}

/*MAIN*/

main .section-pink.one {
  padding-bottom: 0;
}

main .section-pink.one .container {
  border-bottom: 1px solid #bdb5af;
}

main .section-pink.one .container img {
  width: 280px;
}

main .section-pink.two {
  padding-bottom: 0;
}

main .section-pink.two .container .card:last-child #illustration-mini {
  width: 70px;
}

main .section-pink.two .container img {
  width: 280px;
}

/*CARD*/

.card,
main .section-pink.two .container .card:last-child {
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}

.card #illustration {
  width: 140px;
  margin-bottom: 30px;
}

/*FOOTER*/

