.banner{
  height: calc(100vh - 75px);
  padding: 60px 0;
  .left{
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 20px;
    h1{
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p{
      font-size: 20px;
      margin-bottom: 40px;
    }
    .cta{
      width: 100%;
      margin-bottom: 20px;
      button{
        float: left;
      }
      p{
        float: left;
        font-size: 12px;
        margin: 0 20px;
        line-height: 35px;
      }
    }
  }
  .right{
    width: 50%;
    height: 100%;
    float: right;
    img{
      width: 600px;
    }
  }
}
