body{
  font-family: 'Lato', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.btn-base{
  border: 1px solid $buttons_color;
  border-radius: 5px;
  padding: 8px 15px;
  background: $primary_color_1;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s;
  i{
    font-size: 1.2em;
    margin-right: 5px;
  }
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  &:hover{
    color: $a_hover_color;
  }
}

.section-pink{
  background: $primary_color_2;
  color: $font_color;
  padding: 50px 0;
}
.section-white{
  background: $primary_color_1;
  color: $font_color;
  padding: 50px 0;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
}

.lft{
  width: 600px;
  height: 100%;
  float: left;
  position: relative;
  padding: 70px;
  h2{
    margin-bottom: 10px;
    line-height: 40px;
  }
  p{
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 40px;
  }
  .min{
    margin-top: 35px;
  }
}
.rgt{
  width: 600px;
  height: 100%;
  float: left;
  position: relative;
  padding: 70px;
  h2{
    margin-bottom: 10px;
    line-height: 40px;
  }
  p{
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 40px;
  }
  .min{
    margin-top: 35px;
  }
}
.min{
  width: 270px;
  display: block;
}
.max{
  width: 770px;
  position: absolute;
}

.without{
  padding: 0;
}
