.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.btn-base{
  border-style: none;
  border-radius: 10px;
  padding: 10px 15px;
  background: $primary_color_1;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}
