body{
  font-family: 'Lato', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.btn-base{
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 8px 15px;
  background: $primary_color_1;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}
