main{
  .section-pink.one{
    padding-bottom: 0;
    .container{
      border-bottom: 1px solid #bdb5af;
      img{
        width: 280px;
      }
    }
  }
  .section-pink.two{
    padding-bottom: 0;
    .container{
      .card:last-child{
        @extend .card;
        #illustration-mini{
          width: 70px;
        }
      }
      // border-bottom: 1px solid #bdb5af;
      img{
        width: 280px;
      }
    }
  }
  .section-white.three{
    padding-bottom: 0;
    .container{
      .lft{
        height: 470px;
        .max{
          left: -30%;
        }
      }
    }
  }
  .section-white.four{
    padding-bottom: 0;
    overflow: hidden;
    .container{
      .rgt{
        height: 470px;
        .max{
          right: -30%;
        }
      }
    }
  }
  .section-white.five{
    padding-bottom: 0;
    .container{
      .lft{
        height: 470px;
        .max{
          left: -30%;
        }
      }
    }
  }
  .section-white.six{
    padding-bottom: 0;
    overflow: hidden;
    .container{
      .rgt{
        height: 470px;
        .max{
          right: -30%;
        }
      }
    }
  }
}
